# Database Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/auth-alpaca
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=your_db_password

# JWT Configuration
JWT_ISSUER=auth-alpaca.com

# Access Token Duration - 5 Min
JWT_ACCESS_TOKEN_EXPIRATION=300000
# Access Token Duration - 12 Hours
JWT_REFRESH_TOKEN_EXPIRATION=43200000

# OAuth2 Configuration
APP_OAUTH2_REDIRECT_URI=http://localhost:80/oauth2/redirect
APP_FRONTEND_URI=http://localhost:80/login
GOOGLE_CLIENT_ID=client_id
GOOGLE_CLIENT_SECRET=client_secret

# Security Settings
MAX_SESSIONS_PER_USER=5
INFINITY_LOGIN=false

# Password Encoder
BCRYPT_COST_FACTOR=12

# App Settings
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=123456789
API_BASE_URL=http://localhost:8080
FRONTEND_URI=http://localhost:80
