# Database Configuration
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_SECRET_KEY=

# Access Token Keys
JWT_ACCESS_PRIVATE_KEY_PATH=src/main/resources/access_private.pem
JWT_ACCESS_PUBLIC_KEY_PATH=src/main/resources/access_private.pem
JWT_ACCESS_TOKEN_EXPIRATION=900   # 15 minutes

# Refresh Token Keys
JWT_REFRESH_PRIVATE_KEY_PATH=/opt/keys/jwt/refresh-private.pem
JWT_REFRESH_PUBLIC_KEY_PATH=/opt/keys/jwt/refresh-public.pem
JWT_REFRESH_TOKEN_EXPIRATION=2592000 # 30 days

# JWT Configuration
JWT_ISSUER=MY-ISSUER
SECURITY_USER_GENERATOR=MY-APP

# JWT metadata
JWT_ISSUER=alpaca-auth-issuer
SECURITY_USER_GENERATOR=alpaca-auth-service

# Google OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=