# Spring Config
SPRING_PROFILES_ACTIVE=dev

# Database Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/auth-alpaca
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=your_password_here

# Access Token Keys
# 5 minutes
JWT_ACCESS_TOKEN_EXPIRATION=300000
JWT_ACCESS_PRIVATE_KEY=classpath:keys/access_private.pem
JWT_ACCESS_PUBLIC_KEY=classpath:keys/access_public.pem

# Refresh Token Keys
# 30 days
JWT_REFRESH_TOKEN_EXPIRATION=2592000000
JWT_REFRESH_PRIVATE_KEY=classpath:keys/refresh_private.pem
JWT_REFRESH_PUBLIC_KEY=classpath:keys/refresh_public.pem

# JWT Metadata
JWT_ISSUER=auth-alpaca-issuer

# Sessions per User
MAX_SESSIONS_PER_USER=5
INFINITY_LOGIN=false

# Password Encoder
BCRYPT_COST_FACTOR=12

# OAuth Configuration
APP_OAUTH2_REDIRECT_URI=http://localhost:4200/oauth2/redirect
APP_FRONTEND_URI=http://localhost:4200/login

ADMIN_EMAIL=admin@mail.com
ADMIN_PASSWORD=123456789

# Google OAuth2
GOOGLE_CLIENT_ID=google_id
GOOGLE_CLIENT_SECRET=google_secret