# Database Configuration
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# Access Token
# 15 minutes
JWT_ACCESS_TOKEN_EXPIRATION=900

# Refresh Token
# 30 days
JWT_REFRESH_TOKEN_EXPIRATION=2592000

# JWT Metadata
JWT_ISSUER=alpaca-auth-issuer

# Sessions per User
MAX_SESSIONS_PER_USER=10

# Google OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=